<template>
  <div>
    <h2>Login</h2>
    <form @submit.prevent="handleSubmit">
      <label>Email :</label>
      <input type="email" v-model="email" required />
      <label>Password :</label>
      <input type="password" v-model="password" required />
      <div class="button">
        <button class="submit" type="submit">Login</button>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      email: "",
      password: ""
    };
  },
  methods: {
    handleSubmit() {
      if (
        this.email == localStorage.getItem("email") &&
        this.password == localStorage.getItem("password")
      )
        this.$router.push("/my-bank");
      else alert(`Please Register The User`);
    }
  }
};
</script>

<style scoped>
form {
  max-width: 600px;
  margin: auto;
  background: #fff;
  text-align: left;
  padding: 0px 20px;
  border-radius: 10px;
}

label {
  color: #aaa;
  display: inline-block;
  margin: 25px 0 15px;
  text-transform: uppercase;
}

input {
  display: block;
  padding: 10px 6px;
  width: 100%;
  box-sizing: bordre-box;
  border: none;
  border-bottom: 1px solid #ddd;
  color: #555;
}

button {
  background: rgb(7, 24, 7);
  border: 0;
  padding: 10px 20px;
  color: white;
  border-radius: 20px;
  margin-top: 20px;
}

.submit {
  text-align: center;
}

.error {
  color: #ff0000;
  margin-top: 10px;
  font-size: 0.8em;
  font-weight: bold;
}
</style>
