<template>
  <div>
    <h2>My Bank</h2>
    <form @submit.prevent="addMoney()">
      <label>Name :</label>
      <input v-model="name" required />
      <label>Passbook number :</label>
      <input
        type="text"
        required
        pattern="[0-9]{12}"
        v-model="passBookNumber"
      />
      <label>Amount :</label>
      <input
        min="0"
        max="60000"
        type="number"
        placeholder="USD"
        v-model="amount"
      />
      <label>Phone number. :</label>
      <input type="tel" id="phone" v-model="phone" />
      <div class="button">
        <button class="submit" type="submit">Add Money</button>
      </div>
      <div class="button">
        <button class="submit" @click="$router.push(`/passbook`)">
          Check passbook
        </button>
      </div>
      <div class="button">
        <button class="submit" @click="$router.push(`/tax`)">
          Calculate Tax
        </button>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      name: "",
      passBookNumber: "",
      amount: "",
      phone: ""
    };
  },

  methods: {
    addMoney() {
      let success = true;
      if (success) alert("Money Added!");
      else {
        localStorage.removeItem("email");
        localStorage.removeItem("password");
        alert("We Cannot Process Your Request Choose Some Other Bank");
        this.$router.push("/login");
      }
    },
    checkPassbook() {
      this.$router.push("/login");
    }
  },
  mounted() {
    var input = document.querySelector("#phone");
    var iti = window.intlTelInput(input, {
      // separateDialCode:true,
      utilsScript:
        "https://cdn.jsdelivr.net/npm/intl-tel-input@17.0.3/build/js/utils.js"
    });
  }
};
</script>

<style scoped>
form {
  max-width: 600px;
  margin: auto;
  background: #fff;
  text-align: left;
  padding: 0px 20px;
  border-radius: 10px;
}

label {
  color: #aaa;
  display: inline-block;
  margin: 25px 0 15px;
  text-transform: uppercase;
}

input {
  display: block;
  padding: 10px 6px;
  width: 100%;
  box-sizing: bordre-box;
  border: none;
  border-bottom: 1px solid #ddd;
  color: #555;
}

button {
  background: rgb(7, 24, 7);
  border: 0;
  padding: 10px 20px;
  color: white;
  border-radius: 20px;
  margin-top: 20px;
}

.submit {
  text-align: center;
}

.error {
  color: #ff0000;
  margin-top: 10px;
  font-size: 0.8em;
  font-weight: bold;
}
</style>
