<template>
  <div>
    <h2>Sign up</h2>
    <form @submit.prevent="handleSubmit">
      <label>Email :</label>
      <input type="email" v-model="email" required />
      <label>Password :</label>
      <input type="password" v-model="password" required />
      <div v-if="passwordError" class="error">{{ passwordError }}</div>
      <div class="button">
        <button class="submit" type="submit">Sign up here</button>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      email: "",
      password: "",
      passwordError: ""
    };
  },
  watch: {
    password(newVal, oldVal) {
      if (newVal === "" || newVal !== oldVal) this.passwordError = false;
    }
  },
  methods: {
    validatePassword() {
      const regex = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}$/;
      if (regex.test(this.password)) {
        return true;
      }
      return false;
    },

    handleSubmit() {
      const isValidPassword = this.validatePassword();
      if (isValidPassword && this.password.length >= 8) {
        localStorage["email"] = this.email;
        localStorage["password"] = this.password;
        this.$router.push("/my-bank");
      } else
        this.passwordError = `Password must be at least 8 characters long which must include uppercase &
lowercase alphabets also numbers`;
    }
  }
};
</script>

<style scoped>
form {
  max-width: 600px;
  margin: auto;
  background: #fff;
  text-align: left;
  padding: 0px 20px;
  border-radius: 10px;
}

label {
  color: #aaa;
  display: inline-block;
  margin: 25px 0 15px;
  text-transform: uppercase;
}

input {
  display: block;
  padding: 10px 6px;
  width: 100%;
  box-sizing: bordre-box;
  border: none;
  border-bottom: 1px solid #ddd;
  color: #555;
}

button {
  background: rgb(7, 24, 7);
  border: 0;
  padding: 10px 20px;
  color: white;
  border-radius: 20px;
  margin-top: 20px;
}

.submit {
  text-align: center;
}

.error {
  color: #ff0000;
  margin-top: 10px;
  font-size: 0.8em;
  font-weight: bold;
}
</style>
